<link rel="stylesheet" href="../css/pbtc.css"></link>
<link rel="stylesheet" href="/resources/Site/pbtc.css"></link>


<span style="">
    <blockquote style="">
        <p align="center">
            <span style="">
                    <img src="/resources/Pictures/PBTC%20logo%20color.gif" alt="" title="" border="0" style="margin-left: auto; margin-right: auto; display: block;">
               </span>
        </p>
    </blockquote>
</span>


{% block section_posts %}
        <!-- links/targets for the side menu to jump to a post -->
        {% for section in sections %}
          <h2>{{ section.title }}</h2>
            <div class="text_section">
                {{ section.content }}
            </div>
        {% endfor %}
{% endblock %}

    <!--
<h2> {{ section_title }}</h2>
<div class="text_section">
    {{ section_text }}
</div>
-->


<h2>MEMBER DISCOUNTS &amp; DEALS</h2>
<hr>

<div class="text_section">

<span style=""><div align="center" style="">
  <span style=""><font face="Helvetica"><span><font color="#4D4D4D" style="font-size: 20px;"><strong><img src="/resources/Pictures/Amy's.png" alt="" title="" border="0" width="112" height="112">&nbsp;</strong></font></span></font></span>
</div></span>

<span style=""><div align="center" style="">
  <strong>AMY'S CLEANERS:</strong> 1015 Turquoise Street <em>One free item if you bring in ten or more.</em>
</div></span>

<hr>
<p align="center" style="background-color: transparent;">
    <font face="Helvetica">
        <img src="/resources/Pictures/Geeky%20Clean%20PC.png" alt="" title="" border="0" width="280" height="70" style="color: rgb(30, 94, 159); font-size: 16px;"><span>&nbsp;</span><br></font></p>

<p align="center" style="background-color: transparent;">
    <strong>GEEKY CLEAN PC:</strong> Garnet Avenue, PB. <em>PBTC members get 10% off.</em>
</p>

<hr>
<p align="center" style="background-color: transparent;">
    <font face="Helvetica">
        <img src="/resources/Pictures/Woodstock%20Pizza.png" alt="" title="" border="0" width="166" height="103" style="color: rgb(30, 94, 159); font-size: 16px;">
        <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
            ><br></font></p>

<p align="center" style="background-color: transparent;">
    <strong>WOODSTOCK's PIZZA:</strong>
            Garnet Avenue. <em>PBTC members get 10% off. &nbsp;&nbsp;</em>
</p>
<hr>

<p align="center" style="background-color: transparent;">
    <font color="#1E5E9F" face="Helvetica" style="font-size: 16px;">
        <em><img src="/resources/Pictures/Offshoretavern.png" alt="" title="" border="0" width="260" height="96">&nbsp;</em>
    </font>
</p>

<p align="center" style="background-color: transparent;">
        <strong>OFFSHORE TAVERN &amp; GRILL:</strong> 
        Morena Blvd. <em>PBTC members get 10% off all regularly priced items.</em>
</p>
<hr>

<p align="center" style="background-color: transparent;">
    <em>
        <img src="/resources/Pictures/Boulevardautomotive.png" alt="" title="" border="0" width="242" height="92">
        <br></em></p>

<p align="center" style="background-color: transparent;">
        <strong>BOULEVARD AUTOMOTIVE:</strong> 
        Turquoise St <em>Members get 10% off of labor, not combined with other discounts.</em>
</p>

<hr>
<p align="center" style="background-color: transparent;">
        <em>
            <img src="/resources/Pictures/Empeyrealty.png" alt="" title="" border="0" width="148" height="130">
        </em>
</p>

<p align="center">
        <strong>EMPEY REALTY:</strong> 
            858-230-8644 <em>PBTC members get $500 off closing.</em>
</p>

<hr>
</div>

<div class="footer">
   If you have a business, or know of a business, that would like to offer discounts to our members, please contact the PBTC Board at: <a href="mailto:board@pbtennis.com" target="_blank">board@pbtennis.com</a>
<br>
Pacific Beach Tennis Club<br>
+1 (858) 273 - 9177<br>
2639 Grand Avenue, San Diego, 92109
<br>
<a href="{Unsubscribe_Url}" target="_blank" style="color: rgb(230, 230, 230);"><font style="background-color: rgb(255, 255, 255);">UNSUBSCRIBE</font></a></font></p>
</div>